################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/
/KAMICH/bin/Debug/
/KAMICH/obj/
/KAMICH/KAMICH.csproj.user
/KAMICH/KAMICH.csproj.user
