################################################################################
# .gitignore — Visual Studio / .NET MAUI
################################################################################

/.vs/
*.user

[Bb]in/
[Oo]bj/

*.apk
*.aab

*.keystore
*.jks
